html {
 font-size: 18px;
}

header {
 display: flex;
 background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
 align-items: center;
 height: 25rem;
 width: 100%;
}

.logo {
 display: flex;
 margin-bottom: 9rem;
 align-content: center;
 background-color: black;
  }
.logo img {
 height: 1.5rem;
 padding-left: 0.5rem;
 padding-right: 1rem;
 margin-left: 5rem;
 margin-top: 0.5rem;
}    
 header h2 {
 font-family: Helvetica;
 padding-bottom: 0.66rem;
 padding-top: 0.66rem;
 font-size: 1rem;
 color: white;
}
.container {
 margin: auto;
 font-family: Helvetica;
 width: 970px;
 }
.main-banner {
 display: column;
 align-content: center;
 background-color: black;
 margin-top: -20px;
 margin-left: 5rem;
 height: 12rem;
 width: 25rem;
}

.new p {
 color: white;
 font-size: 1rem;
 font-weight: bold;
 padding-top: 3rem;
 padding-bottom: 0.25rem;
 margin-left: 3rem;
 }

.sport p {
 color: white;
 font-size: 2rem;
 font-weight: bold;
 padding-left: 3rem;
 padding-bottom: 5rem;
 margin-bottom: 4rem;
}

.content {

}

.navigation {
 background-color: firebrick;
 justify-content: center;
 padding-top: 0.75rem;
 padding-bottom: 0.75rem; 
 height: 1.5rem;
 }

 .navigation a {
 color: white;
 text-decoration: none;
 margin-left: 5rem;
 padding: 0.1rem;
 }